.bannerOne{
  background-image: url("../../public/vecteezy_abstract-fluid-background-with-blue-and-yellow-color-vector_8976230.jpg");
  background-size: cover;
}

.landing{
  height: 200vh;
}

/* styles.css (or your CSS file) */
.avatar-hover {
  transition: background-color 0.2s ease-out;
}
@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
